html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;     
}
div#hero {
background-color: rgb(248, 233, 214);
   height: 800px; 
   padding: 10px;
   width: auto;
   position: relative;
   background-image: url(assets/backgrounds/hero.jpg);
   background-repeat: no-repeat;
   background-size: cover;

}
.page_logo{
position: relative;
}
.hero-text{
    text-align: center;
    top: 200px;
    position: relative;
}
div.col-md-1{
    max-width: 100px;
    text-align: center;
}

.scroll-down-button{
    margin-top: 500px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.scroll-down-button:hover{
    opacity: 0.5;
}
div#product-row{
padding: 40px;
background-color: rgb(198, 191, 165);
}
input#products-button{
background-color: rgb(107, 37, 16);
color: white;
padding: 5px;  
border: none;
}
#checkbox{
left: 8pc;
}
.horizontal-line{
        display: flex; 
        flex-direction: row;
        padding: 30px;
        font-size: 15px;
        margin-left: auto;
}
.horizontal-line::after {
    content: ""; 
    flex: 1 1; 
    border-bottom: 2px solid rgb(139, 135, 135); 
    margin: auto;
    }

.horizontal-line2{
        display: flex; 
        flex-direction: row;
        font-size: 15px;
        margin-left: auto;
}
.horizontal-line2::before {
    content: ""; 
    flex: 1 1; 
    border-bottom: 2px solid rgb(139, 135, 135); 
    margin: auto;
    }

    .scroll-down:hover, .links:hover, input[type=button]:hover{
        opacity: .7;
        cursor: pointer;
    }
#product-listings{
margin-left: 8pc;  
border-right:1px solid black;
padding-right: 200px;
}

.product{
background-color:rgb(245, 245, 247);
justify-content: center;
display: flex;
width: 100pc;
height: 300px;
margin: 20px;
margin-top: 0px;
padding: auto;
box-sizing: border-box; 
}
.product-image{

margin: auto;
overflow:  hidden;
left: 50pc;
top: 50pc;
}

.product:hover{
    border: 4px solid rgb(169, 155, 118);
}
.top-right-item{
    position: absolute;
    top: 10px;
    right: 10px;
}
.top-left-item{
    position: absolute;
    top: 10px;
    left: 10px;
}
.bottom-right-item{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: 500;
}
.bottom-left-item{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color:rgb(169, 155, 118);
    font-weight: 500;
}

select{
    background-color:rgb(245, 245, 247);
    border: none;
}
.top-right-item{
text-align: start;
}
#scrollbar{
    color:  rgb(198, 191, 165);
    margin-left: 95pc;
    font-weight: bold;
}
#about-us{
    margin-top: 50px;
    background-image: url(assets/backgrounds/about.jpg);
    height: 400px;
    text-align: center;
    
}
fieldset.about-text{
    text-align: center;
    position: relative;
    top: 100px;
    border: solid;
    border-color: #908361;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
fieldset>legend{
    text-align:center;
    display: block;
    width: 150px;
    color: white;
    font-weight: bold;
    margin: 0 0 0 0;
}   

#news-feed{
    position: relative;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    background-color: rgb(83, 81, 84);
}
#footer{
padding-top: 50px;

color: white;
background-color: rgb(65, 65, 65);
margin-top: auto;
margin-bottom: auto;
}
#closer-text{
    text-align: center;
    color: white;   
}
#social-media-handles{
    text-align: center;
}
.row{
    margin-right: auto;
    margin-left: auto;
}
.footer-note{
    padding-top: 20px;
}
.bordered-text{
    font-size: 20px;
    color: white;
}
.row{
    width: 100pc;
}
input[type='checkbox']{
    margin: 5px;
    box-shadow: none;
    font-size: 2em;
  }